@model ErrorModel

@{
    Layout = "Master";

    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<h1>Error</h1>

<div>
    Sorry, there was an error

    @if (error != null)
    {
        <strong>@error</strong>

        if (errorDescription != null)
        {
            <div>@errorDescription</div>
        }
    }

</div>

@if (request_id != null)
{
    <div>
        Request Id: @request_id
    </div>
}
