.columns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #333;
}

    .columns > div {
        flex: 1;
        padding: 30px;
    }

        .columns > div h1 {
            font-size: 22pt;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .columns > div p {
            font-size: 14pt;
        }

    .columns .scroll {
        flex: 1.5;
        overflow: auto;
    }
