@model LoginModel

@{
    Layout = "Locked";
}

@if (Model.EnableLocalLogin)
{
    <form asp-route="Login" autocomplete="off">
        <input type="hidden" asp-for="ReturnUrl" />
        <fieldset>
            <div>
                <label asp-for="Username"></label>
                <input placeholder="Username" asp-for="Username" autofocus autocomplete="off">
            </div>

            <div>
                <label asp-for="Password"></label>
                <input type="password" placeholder="Password" asp-for="Password" autocomplete="off">
            </div>

            <div>
                <label class="checkbox">
                    Remember Me
                    <input asp-for="RememberLogin">
                    <span class="checkmark"></span>
                </label>
            </div>
        </fieldset>

        <div class="login-actions">
            <button name="button" class="button accent" value="login">Sign In</button>

            @if (Model.VisibleLoginProviders.Any())
            {
                @foreach (var provider in Model.VisibleLoginProviders)
                {
                    @switch (@provider.AuthenticationScheme)
                    {
                        case "Google":
                            <a class="button" asp-controller="External" asp-action="Challenge" asp-route-provider="@provider.AuthenticationScheme" asp-route-returnUrl="@Model.ReturnUrl"><img src="~/img/google.svg" />Sign in with Google</a>
                            break;
                    }
                }
            }

        </div>
    </form>
}

@if (!Model.EnableLocalLogin && !Model.VisibleLoginProviders.Any())
{
    <div>
        <strong>Invalid login request</strong> There are no login schemes configured for this client.
    </div>
}
