@{
    ViewData["Title"] = "Client";
}

<h2>@ViewData["Title"]</h2>

<h3>Values</h3>

<pre>@ViewData["Values"]</pre>

<h3>Value</h3>

<pre>@ViewData["Value"]</pre>

<h3>Distance</h3>

<pre>@ViewData["Distance"]</pre>
