@{
    Layout = "Master";
}

<div class="featured">
    <div class="logo"></div>

    <p>
        Welcome to the f(X) Identity Platform.
    </p>
</div>

@section preload {
    <link href=~/css/home.css rel="preload" as="style" />
}

@section styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
