@{
    Layout = "Master";
}

<div class="featured">

</div>

@section preload {
    <link href=~/css/home.css rel="preload" as="style" />
}

@section styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
